@import "mixins.scss";
@import "variables.scss";

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  margin: 0px;
  background-color: $background-grey;
  color: $default;
}

.home {
  .top-navbar {
    @include little-shadow;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0px 8%;
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    z-index: 1;

    a {
      @include head-navbar-text;
      h4 {
        font-weight: 100;
      }
    }

    .left-links {
      a {
        font-size: 20px;
        font-weight: 100;
      }
    }

    .right-links {
      display: flex;
      width: 20%;
      justify-content: space-between;
      align-items: center;
      a {
        font-size: 12px;
        &:hover {
          color: $pink;
        }
      }

      button {
        @include little-shadow;
        border: solid $pink;
        border-radius: 25px;
        height: 50px;
        width: 80px;
        background-color: $pink;
        color: white;
        font-size: 12px;
        &:hover {
          @include pink-shadow;
        }
      }
    }
  }

  .welcome-screen {
    .background {
      position: absolute;
      z-index: -1;

      img {
        width: 98.97vw;
        height: 80vh;
        object-fit: cover;
        filter: brightness(85%);
      }
    }

    .welcome {
      color: white;
      display: grid;
      width: 98.97vw;
      height: 70.5vh;
      grid-template-rows: 3fr 1fr 2fr;

      h1 {
        align-self: flex-end;
        font-size: 70px;
        justify-self: center;
        margin-bottom: 10px;
      }

      h4 {
        font-family: Roboto Slab;
        justify-self: center;
        align-self: flex-start;
        font-size: 18px;
      }

      button {
        @include little-shadow;
        justify-self: center;
        border: solid $pink;
        border-radius: 5px;
        width: 130px;
        height: 50px;
        background-color: $pink;
        color: white;
        font-size: 12px;
        margin-top: 15px;
        &:hover {
          @include pink-shadow;
        }
      }
    }
  }

  .main-content {
    @include body-shadow;
    background-image: url("https://images.pexels.com/photos/2921137/pexels-photo-2921137.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: 3fr 2fr 3fr 3fr;
    height: 100%;
    margin: 0px 35px;
    border-radius: 10px;
    overflow: hidden;

    .intro {
      display: grid;
      grid-template-rows: 1.5fr 2fr;
      background-color: white;
      padding-bottom: 9%;

      .title {
        display: flex;
        justify-content: center;
        @include div-title-text;
      }

      .categories {
        display: flex;
        justify-content: space-between;
        margin: 0px 10vw;

        .category {
          display: grid;
          justify-items: center;

          h4 {
            font-family: Roboto Slab;
            font-size: 18px;
            margin: 4%;
          }
          p {
            @include lightgrey-text;
            text-align: center;
          }
        }
      }
    }

    .about {
      display: flex;
      align-items: center;
      margin: 0px 10vw;
      justify-content: space-between;

      .about-hestia {
        @include div-title-text;
        color: white;
        p {
          font-family: Roboto;
          font-weight: 100;
          font-size: 18px;
        }
      }

      .image {
        img {
          width: 500px;
        }
      }
    }

    .blog {
      display: grid;
      grid-template-rows: 1fr 2fr;
      background-color: white;
      .title {
        @include div-title-text;
        text-align: center;
        align-self: center;
      }

      .links {
        display: flex;
        justify-content: space-between;
        margin: 0px 7.5vw;
        margin-right: 20%;
        a {
          text-decoration: none;
          color: $default;
        }

        h5 {
          font-size: 12px;
          color: beige;
        }

        h4 {
          font-family: Roboto Slab;
          font-size: 18px;
        }

        p {
          @include lightgrey-text;
        }

        .thousand-words {
          h5 {
            a {
              color: #89229b;
            }
          }
        }

        .elements {
          h5 {
            a {
              color: #01bcd5;
            }
          }
        }

        .more-tags {
          h5 {
            a {
              color: #f54336;
            }
          }
        }
      }
    }

    .get-in-touch {
      color: white;
      margin: 0px 7.5vw;
      .title {
        @include div-title-text;
      }

      .location {
        display: flex;

        .icon {
          padding-top: 1%;
          padding-right: 1%;
        }

        .text {
          p {
            font-size: 14px;
            color: white;
            font-weight: 100;
          }

          h4 {
            font-family: Roboto Slab;
          }
        }
      }

      .contact {
        display: flex;

        .icon {
          padding-top: 1%;
          padding-right: 1%;
        }

        .text {
          p {
            font-size: 14px;
            color: white;
            font-weight: 100;
          }

          h4 {
            font-family: Roboto Slab;
          }
        }
      }
    }
  }

  .home-footer {
    @include little-shadow;
    display: flex;
    background-color: $footer-grey;
    height: 100px;
    padding: 0px 7.5vw;
    margin-top: -10px;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    p {
      color: white;
      font-size: 14px;
    }

    a {
      text-decoration: none;
      color: $footer-link;
    }

    .left-links {
      display: flex;
      width: 13%;
      justify-content: space-between;
    }

    .right-links {
      justify-content: space-between;
    }
  }
}
