@import "variables.scss";

@mixin head-footer-text {
  text-decoration: none;
  color: $grey;
}

@mixin little-shadow {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

@mixin pink-shadow {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(234, 30, 98, 1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(234, 30, 98, 1);
  box-shadow: 0px 0px 6px 1px rgba(234, 30, 98, 1);
}
